<!DOCTYPE html>
	<html>
		<head>
			<!-- Google tag (gtag.js) -->
<script async src="https://www.googletagmanager.com/gtag/js?id=G-4GM1N9RQ66"></script>
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());

  gtag('config', 'G-4GM1N9RQ66');
</script>
			<title>{{ page.title }}</title>
			<!-- link to main stylesheet -->
			<link rel="stylesheet" type="text/css" href="/css/main.css">
		</head>
		<body>
			{% include navigation.html %}
			<div class="container">
			
			{{ content }}
			
			</div><!-- /.container -->
			<footer>
	    		<ul>
	        		<li><a href="mailto:matt.zimmerman@gmail.com">email</a></li>
	        		<li><a href="https://github.com/mattznyc">github.com/mattnyc</a></li>
				</ul>
			</footer>
		</body>
	</html>
